%display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%display-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// Animation speed
$preloader-anim-speed: 2s;